# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.py~

# temporairement JH
Ui_mon_parcellaire_dockwidget_base.py
*.zip
Makefile
test/
i18n/
data/MonParcellaire_SAUVEGARDE
scripts/
.eric6project/
MonParcellaire.e4p
# A vérifier
resources.qrc
