# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.py~

# temporairement JH
MonParcellaire.gif
Ui_mon_parcellaire_dockwidget_base.py
*.zip
Makefile
test/
i18n/
data/MonParcellaire_SAUVEGARDE
data/*gpkg-shm
data/*gpkg-wal
scripts/
.eric6project/
MonParcellaire.e4p
README.md
# A vérifier
resources.qrc
